.pull-right {
    margin-right:5px;
    border-radius: 0px;
}
.tab-content {
    font-size: 14px;
    padding: 30px;
    background-color: #f9f9f9;
    color: gray ! important;
}
li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-right: 5px;
    cursor: pointer;
}
pre.wLabel {
    margin-top: 5px;
    color: gray;
    margin-left: 4px;
    overflow: hidden;    
}
ul.media-list {
    width: 100% !important;
    margin-right: 32px;
}
li.media {
    margin-bottom: 5px;
    font-size: 14px;
}
li.active {
    background-color: white;
    box-shadow: -3px 0px 0 0 rgba(0, 0, 0, 0.09), 0 0 0 0 rgba(0, 0, 0, 0.19);
}
.tab-content {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.media-left {
    margin-right: 9px;
}
.h4, h4 {
    font-size: 16px !important;
}
.h1, h1 {
    font-size: 25px !important;
}
label {
    font-weight: bold;
    font-size: 12px;
}
.jumbotron {
    background: url('../../../../../assets/images/data.jpg') no-repeat center center;
    background-size: cover;
}
.jumbotron-content {
    width: 68%;
    margin: 0 auto 0 auto;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-info {
    color: #fff;
    background-color: #005eb8 !important;
    border-color: #005eb8 !important;
}
a {
    color: #005eb8 !important;
}
span.badge.badge-primary {
    margin-right: 5px;
}
.card {
    margin: 5px !important;
}
.swal-footer {
    visibility: hidden !important;
    height: 0px !important;
}