<div class="jumbotron">
    <div class="jumbotron-content">

      <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#home">
                <i class="fa fa-plane"></i> Vuelos
            </a>
          </li>
      </ul>
        
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active show">
          <h1>Lorem ipsum</h1>
          <div class="row">
            <div class="col-sm-6">
              <!--<Origin>-->
              <div class="form-group">
                <label for="origin">Origin city</label>
                <input
                [(ngModel)]="origin"
                [ngbTypeahead]="search"
                [resultTemplate]="rt"
                [inputFormatter]="formatter"
                type="text" class="form-control" name="origin" id="origin_txt"
                placeholder="Origin city"
                required>
                <pre class="wLabel">{{ origin?.label }}</pre>
                <ng-template #rt let-r="result" let-t="term">
                  <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                </ng-template>
              </div>
              <!--</Origin>-->
              <!--<StartDate>-->
              <div class="form-group">
                <label for="lname">Departure date</label>
                <input 
                [(ngModel)]="startDate"
                type="date" class="form-control" name="lname" id="lname" placeholder="Enter Last Name" required>
              </div>
              <!--</StartDate>-->
            </div>
            <div class="col-sm-6">
              <!--<Destiny>-->
              <div class="form-group">
                <label for="destiny">Destination city</label>
                <input
                [(ngModel)]="destiny"
                [ngbTypeahead]="search"
                [resultTemplate]="destiny_template"
                [inputFormatter]="formatter"
                type="text" class="form-control" name="dentiny" id="destiny_txt" 
                placeholder="Destination city"
                required>
                <pre class="wLabel">{{ destiny?.label }}</pre>
                <ng-template #destiny_template let-r="result" let-t="term">
                  <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                </ng-template>
              </div>
              <!--</Destiny>-->
              <!--<FinalDate>-->
              <div class="form-group">
                <label for="lname">Return date</label>
                <input 
                [(ngModel)]="endDate"
                type="date" class="form-control" name="lname" id="lname" placeholder="Enter Last Name" required>
              </div>
              <!--</FinalDate>-->
              <div class="form-group">
                <button
                [swal]="{
                  title: '',
                  imageUrl: '../../../../assets/images/loading.gif',
                  imageWidth: 70,
                  imageHeight: 70,
                  allowOutsideClick: false,
                  allowEscapeKey: false,
                  showConfirmButton: false
                }"
                (click)="searchOffers()"
                class="btn btn-info pull-right" required="required">Buscar ofertas</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
</div>
<div class="row">
  <ul id="promos_div" class="media-list">
    <li
    *ngFor="let promo of promos"
    class="media">
      <div class="media-body">
        <div class="row" style="margin:5px;">
            <p style="margin: 5px"> Total price: ${{ promo.offerItems[0].price.total }} EUR.
              <span
              [hidden]="promo.offerItems[0].services[0].segments.length === 1"
              class="badge badge-warning">Number of flights: {{ promo.offerItems[0].services[0].segments.length }}</span>
            </p> 
            <div *ngFor="let segment of promo.offerItems[0].services[0].segments" 
            class="card" style="float:left; width:99%;">
                <div class="card-body">
                  <h5 class="card-title">Carrier: {{ segment.flightSegment.carrierCode }}
                  </h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ segment.flightSegment.duration }}</h6>
                  <h6>Departure</h6>
                  <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Departure</th>
                          <th>Arrival</th>
                          <th>Travel Information</th>
                          <th>Operation details</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ segment.flightSegment.departure.iataCode }} at {{segment.flightSegment.departure.at}}</td>
                          <td>{{ segment.flightSegment.arrival.iataCode }} at {{segment.flightSegment.arrival.at}}</td>
                          <td>Class: {{ segment.pricingDetailPerAdult.travelClass }} - Available seats: {{ segment.pricingDetailPerAdult.availability}}</td>
                          <td>
                              Operated by {{ segment.flightSegment.operating.carrierCode }}. Number: {{ segment.flightSegment.operating.number }}. Aircraft: {{ segment.flightSegment.aircraft.code }}
                          </td>
                        </tr>
                      </tbody>
                  </table>
                  <span class="badge badge-primary">Fare basis: {{ segment.pricingDetailPerAdult.fareBasis}}</span>
                  <span class="badge badge-primary">Fare class: {{ segment.pricingDetailPerAdult.fareClass}}</span>
                </div>
            </div>
        </div>
      </div>
    </li>
  </ul>
</div>