<nav class="navbar navbar-expand-lg">
  <!-- Image and text -->
  <nav class="navbar">
      <a class="navbar-brand" href="#">
          <img src="../../../../assets/images/logo.png" width="131" height="33" alt="">
      </a>
  </nav>
</nav>