<div 
*ngFor="let location of locations"
style="margin:10px;" class="alert alert-primary" role="alert">
  <strong>Type: </strong> {{ location.type }} <br/>
  <strong>Subtype: </strong> {{ location.subType }} <br/>
  <strong>Name: </strong> {{ location.name }} <br/>
  <strong>detailedName: </strong> {{ location.name }} <br/>
  <strong>iataCode: </strong> {{ location.iataCode }} <br/>
  <strong>id: </strong> {{ location.id }} <br/>
  <strong>timeZoneOffset: </strong> {{ location.timeZoneOffset }} <br/>
  <strong>travelers score: </strong> {{ location.analytics.travelers.score }} <br/>
</div>